<template name="admin">
    <div class="card partner">
        <div class="card-content">
            <article class="media">
                <figure class="media-left">
                    <img src="../../{{ logo }}">
                </figure>
            </article>
            <article class="media">
                <div class="media-content">
                    <div class="content">
                        <p class="title is-4">Admin for {{ name }}</p>
                    </div>
                </div>
            </article>
        </div>
    </div>
</template>