<template name="Partner_component">
    <div class="card partner">
        <div class="view-more">
            <div class="middle">View more</div>
        </div>
        <div class="card-content">
            <article class="media">
                <figure class="media-left">
                    <img src="{{ logo }}">
                </figure>
            </article>
            <article class="media">
                <div class="media-content">
                    <div class="content">
                        <p class="title is-4">{{ name }}</p>
                        <!--                        <p class="">{{ bio }}</p>-->
                    </div>
                </div>
            </article>
        </div>
    </div>
</template>