<template name="Partner_component">
    <div class="card partner">
        <div class="card-content">
            <article class="media">
                <figure class="media-left">
                        {{#if imgLoaded}}
                        <img src="../../{{ logo }}">
                        {{else}}
                        <img class="is-rounded" src="assets/images/placeholders/imgholdr-image.png">
                        {{/if}}
                </figure>
            </article>
            <article class="media">
                <div class="media-content">
                    <div class="content">
                        <p class="title is-4">{{ name }}</p>
                    </div>
                </div>
            </article>
        </div>
    </div>
</template>