<template name="Project_component">
    <div class="card project">
        <div class="card-content">
            <article class="media">
                    {{#if imgLoaded}}
                    <img src="../../{{ logo }}">
                    {{else}}
                    <img class="is-rounded" src="assets/images/placeholders/imgholdr-image.png">
                    {{/if}}
            </article>
            <article class="media">
                <div class="media-content-projects">
                    <div class="content">
                        <p class="title is-4">{{ name }}</p>
                    </div>
                </div>
            </article>
        </div>
    </div>
</template>